* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    margin: 0;
    font-family: Helvetica;
}

main {
    justify-content: right;
    display: flex;
    background-color: azure;
}

aside {
    justify-content: left;
    background-color: bisque;
}

