  html,
 body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: ivory;
  }
  h1 {
  margin: 0 auto;
  font-size: 35px;
  margin: 20px;
  }
  h2 {
    margin: 0 auto;
    font-size: 40;
    margin: 10px;
    color: red;
  }
  .flex-container {
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .flex-column {
  height: 100%;
  width: 100%;
  flex-direction: column;
  
  }
  .flex-wrap {
  flex-wrap: wrap;
  height: 432px;
  width: 432px;
  background-color: gainsboro;
  }
  .square {
  border: 2px solid black;
  height: 140px;
  width: 140px;
  }
  #reset-button {
  text-align: center;
  font-size: 30px;
  border: 3px solid red;
  height: 45px;
  width: 250px;
  margin: 10px;
  } 
 

    